# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


#Added by cargo
#
#already existing elements are commented out

/target
**/target
**/*.rs.bk
Cargo.lock
.idea
uysh.iml
